:root{
  --dm-light-red:  #f8d7da;
  --dm-deep-red: #721c24;
  --dm-black: #000;
  --dm-white: #fff;
  --dm-dark-gray: #2d3436;
  --dm-mid-gray: #f2f2f2;
  --dm-light-gray: #646970;
  --dm-border-gray: #dddddd;
  --dm-hover-gray: #f9f9f9;


  /* Shadows define here */
  --dm-shadow-1: 0 5px 15px 0 rgba(28,37,39,.1),0 0 2px 0 rgba(0,0,0,.1);

  /* Font Families */
  --dm-main-font: 'Poppins', sans-serif;

}